<html>
<head>
     <title>Сокращение ссылок</title>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form align="center" name="test" action="D:\Rabota with Flask\app.py" method="POST">
        <p><h1>Сайт для сокращения ссылок</h1></p>
        <p><input size="60" placeholder="Введите ссылку"><input type="submit" value="Укоротить" style="width:100Px"></p>
        <p><input size="60" placeholder="Укороченная ссылка"><input type="submit" value="Скопировать" style="width:100Px"></p>
        <input type="reset" />
    </form>
</body>
</html>